<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="p-2 container-fluid mb-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a style="color:black" href="#">CSAIA</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
          </nav>
    </div>
    <div class="container-fluid p-3">
        <div class="p-3 card" style="max-width: 40rem;margin-left:auto;margin-right:auto;text-align:center">
            <div class="row gx-5">
                <div class="card-title"><h3 class="p-3 border-bottom">Please Login</h3></div>
                <div class="card-body ">
                    <div class="card-title"><h5 class="p-3">Login using your CSAIA credentials below:</h5></div>
                    <div class="contianer-fluid px-4 border mb-3" style="max-width: 20rem; margin-left:auto;margin-right:auto;text-align:center">
                        <form>
                            <div class="row mb-1" style="margin-left:auto;margin-right:auto;text-align:center">
                                <label class="p-3 col">Email:</label>
                                <input class="form-control" type="text" name="uName" placeholder="Username" />
                            </div>
                            <div class="row mb-3" style="margin-left:auto;margin-right:auto;text-align:center">
                                <label class="p-3 col">Password:</label>
                                <input class="col-sm-3 form-control" type="password" name="pWord" placeholder="Password" />
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto mb-2">
                                <button class="btn btn-outline-success" type="submit">Submit form</button>
                            </div>
                        </form>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mb-3">
                        <a class="btn btn-secondary">Forgot Password</a>
                        <a class="btn btn-secondary">I don't have an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
