<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="p-2 container-fluid mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a style="color:black" href="/Landing">CSAIA</a></li>
              <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
            </ol>
          </nav>
    </div>
    <div class="container-fluid">
        <h2 class="border-bottom">Account Settings</h2>
    </div>
</body>
</html>