<div class="p-2 container-fluid mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a style="color:black" routerLink="/Landing">CSAIA</a></li>
            <li class="breadcrumb-item"><a style="color:black" routerLink="/FlightPage">Flights</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upload Flights</li>
        </ol>
    </nav>
</div>
<div class="container-fluid mb-5">
    <h2 class="border-bottom">Upload Flight Images</h2>
</div>
<div class="container-fluid">
    <div class="card border" style="max-width: 30rem">
        <div class="card-title">
            <h5 class="p-2">Upload the your aerial photographs below:</h5>
        </div>
        <div class="card-body">
            <div class="input-group">
                <form method="POST" action="" enctype="multipart/form-data">
                    <input type="file" accept="image/jpeg, image/png" multiple="true" class="form-control" id="flight-images" (change)="onFileChanged($event)" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    <input type="text" class="form-control" id="flight-name" placeholder="Flight Name">
                    <input type="text" class="form-control" id="flight-notes" placeholder="Flight Notes">
                    <input type="text" class="form-control" id="field-name" placeholder="Field Name">
                    <input type="text" class="form-control" id="crop" placeholder="Crop">
                    <button [disabled]="!this.hasFiles" class="btn btn-success" type="button" id="upload" (click)="uploadFlight()">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>