<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="p-2 container-fluid mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a style="color:black" routerLink="/Landing">CSAIA</a></li>
              <li class="breadcrumb-item"><a style="color:black" routerLink="/FlightPage">Flights</a></li>
              <li class="breadcrumb-item active" aria-current="page">Download Flights</li>
            </ol>
          </nav>
    </div>
    <div class="container-fluid">
        <h2 class="border-bottom">Download Flight Images</h2>
    </div>
    <div class="container-fluid">
        <div class="card border" style="max-width: 30rem">
            <div class="card-title"><h5 class="p-2">Download airial photographs from CSAIA:</h5></div>
            <div class="card-body">
                <p>Maybe this should be merged with query page</p>
            </div>
        </div>
    </div>
</body>
</html>

