<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="p-2 container-fluid mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a style="color:black" routerLink="/Landing">CSAIA</a></li>
              <li class="breadcrumb-item"><a style="color:black" routerLink="/FlightPage">Flights</a></li>
              <li class="breadcrumb-item active" aria-current="page">Query Flights</li>
            </ol>
          </nav>
    </div>
    <div class="container-fluid">
        <h2 class="border-bottom">Query Flight Images</h2>
    </div>
    <div class="container-fluid">
        <div class="card border" style="max-width: 30rem">
            <div class="card-title"><h5 class="p-3">Query CSAIA for airial photographs:</h5></div>
            <div class="card-body">
                <form>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Query Param</span>
                        <input type="text" class="form-control" placeholder="Query Param">
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Query Param</span>
                        <input type="text" class="form-control" placeholder="Query Param">
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Query Param</span>
                        <input type="text" class="form-control" placeholder="Query Param">
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Query Param</span>
                        <input type="text" class="form-control" placeholder="Query Param">
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text">Query Param</span>
                        <input type="text" class="form-control" placeholder="Query Param">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Query Param</span>
                        <input type="text" class="form-control" placeholder="Query Param">
                    </div>
                    <button class="p-2 btn btn-outline-success">Query</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

